<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <a href="/" class="button" style="position: absolute; top: 10px; left: 10px; font-size: 20px; padding: 10px 20px;">Home</a>
    <h1>Users</h1>
    <ul>
        {% for user in users %}
            <li><a href="/users/{{ user.id }}">{{ user.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
